# Default ignored files
.idea
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.pem
*.env
*.tfvars
fundamental/networking/.terraform/providers/registry.terraform.io/hashicorp/oci/6.25.0/darwin_arm64/terraform-provider-oci_v6.25.0
